{% extends 'zikmontFrontEndBundle::layout_app.html.twig' %}
{% block content %}

{% block javascripts %}


{% endblock %}
    <div class="left_articles">                

        <div class="page-header">
            <h2>Listado de Productos</h2>
            <a  class="btn btn-mini" href="#" data-reveal-id="detallesItemModal" data-animation="fade"><image id="nuevoItem" src="{{ asset('bundles/zikmont/imagenes/tema1/glyphicons_131_inbox_plus.png') }}" width=20 height=20>Crear Producto</a>
        </div>
        
        <div class="div-form">
            <table class="main-all-table-form">
                <tr>                
                    <td class="td-label">Item:</td>
                    <td class="td-in" ><input type="text" class="span2" name="TxtCodigoItem" {% if Ultima_Codigo is defined %} value="{{Ultimo_Codigo}}" {% endif%} onkeypress="return validarNumeros(event)" onclick="this.select()"  size="15"/></td>
                </tr>   
                <tr>                
                    <td class="td-label">Descripcion:</td>
                    <td class="td-in" ><input type="text" class="span6" name="TxtDescripcionItem" {% if Ultima_Descripcion is defined %} value="{{Ultima_Descripcion}}" {% endif%} onclick="this.select()" size="15" autofocus="true"/></td></td>
                </tr>
                <tr>                
                    <td></td>
                    <td><button class="btn btn-primary" type="submit" name="OpSubmit" value="OpActualizarDetalles">Buscar</button></td>
                </tr>            
            </table>
        </div>

        <table  class="table table-striped table-bordered table-condensed"> 
            <tr>
                <th>C贸digo Producto</th>
                <th>Descripci贸n</th>                
                <th>Iva</th>                
                <th>C贸digo EAN</th>
                <th>C贸digo Barra</th>
            </tr>

        {% for subgrupo in arSubgrupos %}
            <tr>
                <td>{{ subgrupo.codigoSubGrupoPk }}</td>
                <td>{{ subgrupo.nomreSubGrupo }}</td>
                <td>{{ subgrupo.codigoGrupoPk }}</td>
                <td>{{ subgrupo.gruposRel.nombreGrupo }}</td>
                <td>{{ subgrupo.codigoLineaFk }}</td>
                <td>{{ subgrupo.lineasRel.nombreLinea }}</td>
                
                <td>
                     <a id="{{ path('cargardatossubgrupo', { 'codigoSubGrupoPk':  grupo.codigoSubGrupoPk }) }}" ><img src="{{ asset('bundles/zikmont/imagenes/tema1/glyphicons_151_edit.png') }}" width=20 height=20></a></td>
                </td>
            </tr>   
        {% endfor %}            
        </table>   

        <div id="containeritems">
            <div id="detallesItemModal" class="reveal-modal">
             {% include "zikmontFrontEndBundle:Plantillas:detallesItem.html.twig"%}        
                </div>
            </div>

        </div>
{% endblock %}