<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Zikmont C1.0.0!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('js/jquery-1.7.2.js') }}"></script>
        <script src="{{ asset('js/bootstrap-tooltip.js') }}"></script>  
        <script src="{{ asset('js/bootstrap-popover.js') }}"></script>  
        <script src="{{ asset('js/bootstrap-collapse.js') }}"></script>  
        <script src="{{ asset('js/jquery.reveal.js') }}"></script>
        <script src="{{ asset('js/stuHover.js') }}"></script>
        <script src="{{ asset('js/general.js') }}"></script>
        <script src="{{ asset('js/bootstrap-dropdown.js') }}"></script>        
        <script src="{{ asset('js/bootstrap-alert.js') }}"></script>
        <script src="{{ asset('js/bootstrap-tab.js') }}"></script>  
        <script src="{{ asset('js/jquery.bgiframe.min.js') }}"></script>  
        <script src="{{ asset('js/thickbox-compressed.js') }}"></script>  
        <script src="{{ asset('js/jquery.ajaxQueue.js') }}"></script>  
        <script src="{{ asset('js/jquery.autocomplete.js') }}"></script>  
        <script src="{{ asset('js/bootstrap-modal.js') }}"></script> 
        <script src="{{ asset('js/UI/jquery-ui-1.8.21.js') }}"></script>        
        <script src="{{ asset('js/UI/Datepicker.js') }}"></script>  
        <script src="{{ asset('js/UI/Dialog.js') }}"></script>  
    </head>
    <body>
        {% block body %}
        {% endblock %}
        </body>
</html>
