<script>
    $('#myModal').modal('toggle');
    </script>
    <form class="well" id="FrmNuevo" action="{{path('gestiondocumental_directorio_documentos_nuevo')}}" method="post" > 
        <div class="modal hide" id="myModal">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>{%if arDirectorio is not null%}Editar{%else%}Crear Directorio{%endif%}</h3>
            </div>    

            <div class="modal-body">
                <div class="well">   

                    <table>

                                {% if arDirectorio is defined and arDirectorio is not null %} 
                        <tr>
                            <td><strong>Cód Directorio:</strong><br/></td>
                            <td><input type="text" class="span4" name="TxtCodigoDirectorio" {% if arDirectorio is defined and arDirectorio is not null %} value="{{arDirectorio.codigoDirectorioPk}}" readonly="true" {% endif %} onkeypress="return validarNumeros(event)" width="200px" placeholder="Nombre Directorio" required autofocus/></td>              
                        <tr>                                        
                                {% endif %} 

                            <tr>          
                                <td><strong>Nombre:</strong><br/></td>
                                <td><input type="text" class="span4" name="TxtNombreDirectorio"  {% if arDirectorio is defined and arDirectorio is not null %} value="{{arDirectorio.nombreDirectorio}}"  {% endif %} placeholder="Nombre Directorio"  width="300px" required="true"></input></td>                
                            </tr>                                

                            <tr>          
                                <td><strong>Fecha Creación:</strong><br/></td>
                                <td><input type="text" class="span4" name="TxtFechaCreacion" {% if arDirectorio is defined and arDirectorio is not null %} value="{{arDirectorio.fechaCreacionDirectorio}}" {% else %} value="{{ "now"|date("m/d/Y") }}" {% endif %} readonly="true"  width="300px"></input></td>                
                            </tr>                       

                            <tr>          
                                <td><strong>Directorio Raiz:</strong><br/></td>
                                <td><input type="text" class="span4" name="TxtDirectorioRaiz" {% if arDirectorio is defined and arDirectorio is not null %} value="{{arDirectorio.codigoDirectorioPadre}}" {% endif %} placeholder="Directorio Raíz" width="300px"></input></td>                
                            </tr>                       

                            <tr>          
                                <td><strong>Usuario:</strong><br/></td>
                                <td><input type="text" class="span4" name="TxtUsuario" {% if arDirectorio is defined and arDirectorio is not null %} value="{{arDirectorio.nombreUsuario}}" {% endif %} placeholder="Usuario" width="300px"></input></td>                
                            </tr>                       

                            <tr>          
                                <td><strong>Inactivo:</strong><br/></td>
                                <td><input type="checkbox" class="span4" name="ChkInactivo" {% if arDirectorio is defined and arDirectorio is not null %} value="{{arDirectorio.inactivo}}" {% endif %}  width="300px"></input></td>                
                            </tr>    

                            <tr>          
                                <td><strong>Comentarios:</strong><br/></td>
                                <td><textarea class="span4" name="TxtComentarios" {% if arDirectorio is defined and arDirectorio is not null %} value="{{arDirectorio.comentarios}}" {% endif %} placeholder="Comentarios" width="300px"></textarea></td>                
                            </tr>   
                        </table>            
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Cancelar</a>                
                    <button id="link_guardar" class="btn btn-primary" type="submit" name="OpSubmit" value="OpGuardar">Guardar</button>
                </div>

            </div>
        </form>       
