
{% extends 'zikmontFrontEndBundle::layout_app.html.twig' %}
{% block content %}
<div class="left_articles">                
    <p class="description"><h1>Estado de Cuenta</h1></p>          

{% import 'zikmontFrontEndBundle:Plantillas:macros.html.twig' as utilidades %}

<hr/>

<form class="well" action="{{ path('estadocuenta') }}" method="post" novalidate >
    <table class="main-all-table-form">
        <tr>
            <tr>
                <div class="input-prepend">
                    <span class="add-on-zikmont">Tercero</span>
                    {% if codigo_tercero is not null %} {%set codigo_tercero =  codigo_tercero%} {% endif %}
                    {{ utilidades.textboxtercero(codigo_tercero,7,false,false,'terceroconsulta') }}
                </div>
            </tr>
            
            <tr>
                <div class="input-prepend">
                    <span class="add-on-zikmont">Documentos</span>
                     <select name="CboDocumentos">
                        <option value="">---Seleccione un Documento---</option>
                                     {% for documento in arDocumentos%}
                        <option value="{{documento.codigoDocumentoPk}}" {%if documento.codigoDocumentoPk == codigo_documento%} selected="selected" {%endif%}>{{documento.nombreDocumento}}</option>
                         {%endfor%}
                    </select>               

                </div>
            </tr>
            
           

            <td></td>
            <td><button type="submit" name="register_submit" id="register_submit" class="btn btn-primary">Buscar</button></td>
          </tr>
       </tr>
   </table>
</form>     

<hr/>
{% if arMovimientos != "" %}
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>CM</th>
                <th>Numero Documento</th>
                <th>Tercero</th>                  
                <th>Documento</th>                    
                <th>Fecha Documento</th>                    
                <th>Vence Documento</th>                    
                <th>Plazo</th>                    
                <th>Días Facturado</th>
                <th>Valor Factura</th>                                                       
                <th>Dias Vencimiento</th>                    
                <th>Por Vencer</th>  
                <th>1 a 30</th>
                <th>31 a 60</th>
                <th>61 a 90</th>                              
                <th>91 a 120</th>                              
                <th>121 a 150</th>                              
                <th>151 a 180</th>                              
                <th>> a 180</th>                              
                <th>Ver</th>                    
            </tr>

    {% for movimientoDetalle in arMovimientos %}
            <tr>                                                                              
                <td>{{ movimientoDetalle.codigoMovimientoFk }}</td>  
                <td>{{ movimientoDetalle.numeroMovimiento }}</td>
                <td>{{ movimientoDetalle.nombreCortoTercero }}</td>                      
                <td>{{ movimientoDetalle.abreviatura }}</td>                             
                <td>{{ movimientoDetalle.fecha | date("d/m/Y H:i:s") }}</td>                              
                <td>{{ movimientoDetalle.fecha | date("d/m/Y H:i:s") }}</td>                              
                <td>Plazo</td>                              
                <td>Dias Facturado</td>                              
                
                <td>{{ movimientoDetalle.valorOriginal | number_format(2, '.', ',') }}</td>                                                                        
                <td>Dias Vencimiento</td>                                                                        
                
                {% if movimientoDetalle.nroDias <= 0 %}
                    <td>{{ movimientoDetalle.saldo | number_format(2, '.', ',') }}</td>                                         
                {% else %}
                    <td> </td>  
                {% endif %}
                
                {% if movimientoDetalle.nroDias > 1 and movimientoDetalle.nroDias <= 30 %}
                    <td>{{ movimientoDetalle.saldo | number_format(2, '.', ',') }}</td>                                         
                {% else %}
                    <td> </td>  
                {% endif %}
                    
                {% if movimientoDetalle.nroDias > 31 and movimientoDetalle.nroDias <= 60 %}
                    <td>{{ movimientoDetalle.saldo | number_format(2, '.', ',') }}</td>                                         
                {% else %}
                    <td> </td>  
                {% endif %}
                    
                {% if movimientoDetalle.nroDias > 61 and movimientoDetalle.nroDias <= 90 %}
                    <td>{{ movimientoDetalle.saldo | number_format(2, '.', ',') }}</td>                                         
                {% else %}
                    <td> </td>  
                {% endif %}
                    
                {% if movimientoDetalle.nroDias > 91 and movimientoDetalle.nroDias <= 120 %}
                    <td>{{ movimientoDetalle.saldo | number_format(2, '.', ',') }}</td>                                         
                {% else %}
                    <td> </td>  
                {% endif %}
                    
                {% if movimientoDetalle.nroDias > 121 and movimientoDetalle.nroDias <= 150 %}
                    <td>{{ movimientoDetalle.saldo | number_format(2, '.', ',') }}</td>                                         
                {% else %}
                    <td> </td>  
                {% endif %}
                    
                {% if movimientoDetalle.nroDias > 151 and movimientoDetalle.nroDias <= 180 %}
                    <td>{{ movimientoDetalle.saldo | number_format(2, '.', ',') }}</td>                                         
                {% else %}
                    <td> </td>  
                {% endif %}
                    
                {% if movimientoDetalle.nroDias > 180 %}
                    <td>{{ movimientoDetalle.saldo | number_format(2, '.', ',') }}</td>                                         
                {% else %}
                    <td> </td>  
                {% endif %}
                                                      
                <td style="text-align: center"><a href="{{ path('movimientosdetalle', { 'codigoMovimiento': movimientoDetalle.codigoMovimientoFk }) }}" target="blank"><img src="{{ asset('bundles/zikmont/imagenes/tema1/glyphicons_152_new_window.png') }}" width=18 height=18></a></td>
            </tr>
    {% endfor %}            

        </table>   
{% endif %}
    </div>
{% endblock %}